.servies{
    margin: -1px 0;
    background-color: black;
    position: relative;
    height: 100%;
}
.services{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    .item{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 50px 0;
        min-height: 300px;
       /*  border: solid 2px red; */
        .back{
            z-index: -1;
            width: 50%;
            position: absolute;
        }
        .icon{
            width: 100px;
            margin-top: 30px;
        }
        .name{
            margin-top: 30px;
            color: red;
            font-family: trajan-color,serif;
            font-weight: 400;
            font-size: 30px;
        }
        .line{
            top: 60px;
            position: absolute;
            width: 3px;
            height: 260px;
            transform: rotate( -90deg);
            background: linear-gradient( rgba(202, 15, 15, 0.733), rgba(0, 0, 0,0.3));
            animation: background 1.5s infinite alternate;
            /* alternate */
        }
        .descr{
            font-family: adobe-caslon-pro, serif;
            font-weight: 600;
            font-style: italic;
            margin-top: 30px;
            color: rgb(126, 126, 126);
            font-size: 20px;
            width: 250px;
        } 
    }
}