.tns-nav{
    display: none;
}
.tns-outer button{
    display: none;
}
.carusel_slider{
    width: 200px;
    .text{
        display: inline-block;
        font-family: trajan-color,serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(177, 14, 14);
        font-size: 50px;
    }
}
.carosel{
    padding-top: 548px;
    margin-left: 100px;
    width: 600px;
    
}
